@charset "UTF-8";

.songs-contents {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding-left: 0;
}

.songs-content-title {
  font-size: 1rem;
}

.songs-content-body {
  display: grid;
  gap: 1.5rem;
  margin-top: 1rem;

  @media screen and (600px < width) {
    margin-left: 27px; /*.iconの分だけインデントする*/
    grid-template-columns: 5fr 4fr;
    align-items: start;
  }
}

.songs-content-body-thumb {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/yt_icon_mono_light.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14%;
    aspect-ratio: 7 / 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    transition: 0.5s;
  }

  &:hover,
  &:focus {
    &::before {
      background-image: url(../img/yt_icon_rgb.png);
    }
  }
}

.songs-content-body-thumb-img {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.songs-content-body-info {
  font-size: 0.8125rem;
}

.songs-content-body-info-tr {
  border-bottom: 1px solid #b5a98f;
}

.songs-content-body-info-th {
  width: 40%;
}

.songs-content-body-info-td {
  width: 60%;
}
